@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Color Theme Swatches in Hex */
$Blue-1-hex: #001EBA;
$Blue-2-hex: #05147D;
$Blue-3-hex: #35459E;
$Blue-4-hex: #003B74;
$Blue-5-hex: #0B42FF;

/* Color Theme Swatches in RGBA */
$Blue-1-rgba: rgba(0,29,186, 1);
$Blue-2-rgba: rgba(4,20,124, 1);
$Blue-3-rgba: rgba(52,68,158, 1);
$Blue-4-rgba: rgba(0,59,116, 1);
$Blue-5-rgba: rgba(11,66,255, 1);

/* Color Theme Swatches in HSLA */
$Blue-1-hsla: hsla(230, 100, 36, 1%);
$Blue-2-hsla: hsla(232, 92, 25, 1%);
$Blue-3-hsla: hsla(230, 49, 41, 1%);
$Blue-4-hsla: hsla(209, 100, 22, 1%);
$Blue-5-hsla: hsla(226, 100, 52, 1%);

$link-color: #0B42FF;
$btn-color-1: #027373;
$panel-color-1: #FBFBFB;
$username-color: #027373;
$main-bg-color: #fff;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.highlighted{
    opacity: 0.8!important;
}
.photo-line{
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    margin: 50px 15px 45px;
}
.rotate-180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.up-btn{
    position: fixed;
    @media screen and (min-width: 1001px){
        bottom: 50px;
    }
    @media screen and (max-width: 1000px) {
        bottom: 150px;
    }
    right: 50px;
    background-color: rgba(255,255,255,0.5);
    min-width: 100px;
    min-height: 100px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    img{
        opacity: 0.3;
    }
}

.close-btn{
    position: absolute;
    right: 10px;
    @media screen and (min-width: 1001px){
        top: 10px;
        width: 30px;
    }
    @media screen and (max-width: 1000px){
        top: 30px;
        width: 80px;
    }
}

.uinput svg{
    stroke: #fff;
    stroke-width: 15px;
    fill: #fff;
    max-width: 30px;
    max-height: 30px;
}

.carousel-item {
    overflow: hidden;
    height: 450px;
}
.alert-state{
    border-color: red!important;
}
.carousel{
    width: 100%!important;
}
.block{
    .username{
        color: $btn-color-1;
    }
    .data{
        a{
            margin-left: 10px;
        }
    }
    .messages{
        margin-left: 10px;
        @media screen and (max-width: 1000px){
            display: none;
        }
    }
}
@media screen and (max-width: 1000px) {
    .main-rating{
        margin-top: 48px;
    }
}

h3.alert{
    color: red;
    font-size: 14px;
    margin-left: 100px;
}
#shortReviewForm{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .background{
        position: absolute;
        background: rgba(0,0,0,0.5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    };

    .reviewPane{
        display: grid;
        position: absolute;
        background: rgba(255,255,255,1);
        @media screen and (min-width: 1001px){
            width: 60%;
            height: 80%;
            left: 20%;
            right: 20%;
            top: 10%;
            bottom: 10%;
        }
        @media screen and (min-height: 651px) and (max-width: 1000px) {
            width: 100%;
            height: 90%;
            left: 0;
            right: 0;
            top: 5%;
            bottom: 5%;
        }
        max-height: 800px;
        @media screen and (max-height: 650px){
                min-height: 525px!important;
        }

        .row{
            @media screen and (max-width: 1000px) {
                width: 94%!important;
                margin-left: 3%;
            }
            @media screen and (min-width: 1001px){
                width: 50% !important;
                margin-left: 25%!important;
            }
        }

        input{
            border-radius: 3px;
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }
        @media screen and (min-height: 1000px) and (max-height: 8000px){
            textarea{
                height: 300px!important;
            }
        }
        @media screen and (min-height: 790px) and (max-height: 1000px){
            textarea {
                height: 200px!important;
            }
        }
        @media screen and (min-height: 650px) and (max-height: 790px){
            textarea {
                height: 100px!important;
            }
        }


    }
}



input:focus {
    outline-width: 0;
}
.absolute-right{
    position: absolute;
    right: 1.5%;
}
.hide-menu{
    display: none !important;
}
body{
    header{
        .mobile{
            a{
                min-height: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        .mobile-menu{
            @media screen and (max-width: 1000px) {
                display: block;
                position: absolute;
                right: 10px;
                top: 10px;
                svg {
                    width: 120px;
                    height: 120px;
                    color: #fff;
                    fill: #fff;
                }
            }
            @media screen and (min-width: 1001px){
                display: none;
            }
        }
        .menu, .uinput {
            @media (max-width: 4810px) {
                display: block;
            }
            @media (max-width: 981px) {
                display: none!important;
            }
        }

        a:visited{
            color: #fff;
        }

        background-color: #0367A6;
        color: $main-bg-color;
        @media screen and (max-width: 4810px) {
            min-width: 50px;
        }
        @media screen and (max-width: 1000px){
            font-size: 50px;
        }
        @media screen and (min-width: 1001px){
            font-size: 15px;
        }
        .main-menu{
            min-height: 100%;
            a{
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px
            }
        }
        a:link{
            color: $main-bg-color;
        }
        .uinput{
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    img{
        border-radius: 8px;
    }
    .logo{
        border-radius: 0!important;
        background-color: rgba(0, 0, 0, 0)!important;
        @media screen and (max-width: 1000px){
            height: 140px;
        }
    }
    .main-photo{
        img{
            min-height: 100%;
        }
    }

    main{
        h1{
            a{
                @media screen and (max-width: 1000px){
                    font-size: 60px;
                }
            }
        }
        .messages{
            width: 50px;
            margin-left: 1px;
            margin-top: 10px;
            .message-count{
                margin-top: -4px;
                margin-left: 3px;
            }
            img{
                max-height: 20px;
                max-width: 20px;
                @media screen and (max-width: 1000px){
                    max-height: 38px;
                    max-width: 38px;
                }
            }
        }
        .rating{
            @media (max-width: 1000px){
                position: absolute;
                cursor: pointer;
                right: 100px;
                width: 240px;
                margin-top: -52px;
            }
            position: relative;
            cursor: pointer;
            .empty{
                position: absolute;
                @media screen and (max-width: 1000px){
                    min-width: 240px;
                }
                @media screen and (min-width: 1001px){
                    min-width: 120px;
                }
                cursor: pointer;
                margin-top: -5px!important;
                margin-left: 10px!important;
                .rating-star{
                    color: #dbdb19;
                    font-size: 23px;
                    font-weight: bold;
                    @media screen and (max-width: 1000px){
                        font-size: 40px;
                    }
                }
            }
            .fill{
                cursor: pointer;
                overflow: hidden;
                color: #DBDB19;
                height: 40px;
                margin-right: 100px;
                margin-top: -5px!important;
                margin-left: 10px!important;
                .rating-star-fill{
                    @media screen and (max-width: 5000px) {
                        font-size: 23px;
                    }
                    @media screen and (max-width: 1000px) {
                        font-size: 40px;
                    }
                }
            }
        }
        .search-ico{
            max-width: 25px;
            max-height: 25px;
            margin: 38px -40px;
            z-index: 1010;
        }
        .search{
            border: 1px solid #000;
            border-radius: 5px;
            z-index: 100;
            @media screen and (max-width: 5000px){
                height: 34px!important;
            }
            @media screen and (max-width: 1000px) {
                height: 100px !important;
                width: 100%!important;
                font-size: 38px;
                padding-left: 25px;
            }
            margin-top: 33px;
            box-shadow: 0 3px 10px 0 rgba(30, 30, 30, 0.8);

        }
        .search-block-mobile{
            @media screen and (max-width: 1000px){
                display: block!important;
                min-height: 100px;
                background-color: $panel-color-1;
            }
            @media screen and (max-width: 5000px) and (min-width: 1000px){
                display: none!important;
            }
        }
        .search-block{
            @media screen and (max-width: 1000px){
                display: none!important;
            }
            margin-top: 5px;
            min-height: 100px;
            background-color: $panel-color-1;
        }
        .new-reviews{
            background-color: $panel-color-1;
            min-height: 100%;
            @media screen and (max-width: 1000px){
                min-width: 100%!important;
                margin-top: -70px!important;
            }
            .block:hover{
                border: 1px solid $btn-color-1;
            }
            .block{
                user-select: none;
                background-color: $main-bg-color;
                border-radius: 10px;
                border: 1px solid #ddd;
                @media screen and (max-width: 1000px){
                    height: 200px;
                }
                .content{
                    @media screen and (max-width: 1000px){
                        font-size: 40px;
                        min-height: 120px;
                        max-height: 120px!important;
                    }
                    @media screen and (min-width: 1001px) and (max-width: 5000px){
                        font-size: 14px;
                        max-height: 85px;
                    }
                    overflow: hidden;
                    @media (max-width: 1743px){
                        min-width: 100%!important;
                    }
                }
                .main-photo{
                    @media screen and (max-width: 1000px){
                        display: none;
                    }
                    @media screen and (min-width: 1001px) and (max-width: 5000px){
                        max-height: 100px;
                        max-width: 100px;
                    }
                    img{
                        width: 100%;
                    }
                }
                .white-block{
                    width: 80%;
                    @media (max-width: 1000px){
                        height: 50px;
                    }
                    @media (min-width: 1001px) and (max-width: 5000px) {
                        height: 20px;
                    }
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: $main-bg-color;
                    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
                    margin-right: 10px;
                }
                .user-data{
                    position: absolute;
                    right: 110px;
                    bottom: 0;
                    font-style: italic;
                }
                .data{
                    @media screen and (max-width: 1000px){
                        font-size: 40px;
                        width: 100%;
                        margin-left: 30px;
                    }
                    width: 150px;
                }
            }
        }
    }
}

.main-border {
    position: relative;
    top: 3px;
    bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: $panel-color-1;
    overflow: auto;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */

    #content{
        min-height: 500px;
        height: 500px;
    }

    @media screen and (max-width: 1000px){
        div, div div div * {
            font-size: 40px!important;
            padding-left: 5px!important;
            padding-right: 5px!important;
        }
        div div div .date{
            font-size: 40px!important;
        }
    }

}
.site-logo{
    min-height: 200px;
    min-width: 200px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.common-panel{
    margin-top: 60px;
    margin-left: 30px;
    .messages{
        margin-left: 15px;
        width: 100px;
        img{
            max-height: 20px;
            max-width: 20px;
        }
    }
    .percents{
        font-size: 30px;
        .good-reviews{
            color: limegreen;
        }
        .bad-reviews{
            color: firebrick;
        }
    }
}
.btn-panel{
    input[type="button"]{
        @media screen and (min-width: 1001px){
            width: 180px;
            height: 50px;
            margin-top: 10px;
            border-radius: 8px;
            background-color: $btn-color-1;
            color: #fff;
            border: 0;
        }
        @media screen and (max-width: 1000px){
            width: 400px;
            height: 120px;
            margin-top: 10px;
            border-radius: 8px;
            background-color: $btn-color-1;
            color: #fff;
            border: 0;
        }
    }
}
.reviews{
    margin-top: 30px;
    .review{
        position: relative;
        border: 1px solid rgba(100, 100, 100, 0.3);
        border-radius: 8px;
        margin-top: 30px;
        background-color: $main-bg-color;
        .rating{
            position: absolute;
            @media screen and (min-width: 1001px){
                top: 20px;
                right: 50px;
            }
            @media screen and (max-width: 1000px){
                top: 74px;
                right: 45px;
            }

        }
        .username{
            position: absolute;
            top: 20px;
            color: $username-color;
            @media screen and (min-width: 1001px){
                left: 15px;
            }
            @media screen and (max-width: 1000px){
                text-align: center;
                left: 34px;
            }
        }
        .review-content{
            margin: 50px 15px 45px;
            font-size: 14px;
            border-top: 1px solid rgba(100, 100, 100, 0.3);
            padding-top: 15px;
            text-align: match-parent;

        }
        .date{
            position: absolute;
            bottom: 10px;
            right: 20px;
            color: $link-color;
        }

        .review-title{
            text-align: center;
            font-size: 14px;
            font-weight: 610;
            @media screen and (min-width: 1001px) {
                margin-bottom: -30px;
                padding-top: 30px;
                padding-left: 150px;
                padding-right: 150px;
            }
            @media screen and (max-width: 1000px) {
                margin-bottom: 0;
                margin-top: 100px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
input[type="file"]{
	display: none;
}
.uinput{
    cursor: pointer;
}
.append-image-btn{
    @media screen and (max-width: 1000px){
        svg{
            width: 150px!important;
            height: 150px!important;
        }
    }
}
.dropdown-user-panel{
    position: fixed;
    width: 150px;
    right: 100px;
    top: 60px;
    background-color: #0367A6;
    z-index: 1100;
    box-shadow: 3px 1px 12px 1px rgba(100, 100, 100, 0.5);
    border: 1px solid #fff;
    border-radius: 4px;

    ul{
        z-index: 1200;
        li{
            margin: 20px;
            cursor: pointer;
        }
    }
}
.btn-primary{
	background-color: #027373!important;
    @media screen and (min-width: 1001px){
        width: 120px;
        height: 50px;
    }
    @media screen and (max-width: 1000px) {
        width: 250px;
        height: 110px;
    }
	color: #fff;
	border: 0;
	border-radius: 3px;
	outline-width: 0;
}
.btn-primary:focus{
	outline: none;
}
#hidedFileInput{
    position: fixed;
    img{
        position: fixed;
        max-width: 80%;
        max-height: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
.background-plane{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1010;
}
.sliderComponent{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    max-width: 90%;
    top: 5%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    z-index: 1020;
}

main{
    background: rgba(0, 0, 0, 0.017);
}
.slider-container{

}
.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.round-border{
    border-radius: 5px;
}
body{
    font-family: 'Open Sans', sans-serif!important;
}
.alert-container{
    @media screen and (max-width: 1000px){
        text-align: center;
    }
    div{
        font-size: 19px;
    }
    .date{
        color: #027373;
        @media screen and (min-width: 1001px){
            font-size: 21px;
        }
        @media screen and (max-width: 1000px){
            font-size: 40px!important;
        }
    }
}
.note{
    font-size: 14px!important;
}

.mobile-user-panel{
    position: fixed;
    @media screen and (max-width: 1000px){
        display: flex;
    }
    @media screen and (min-width: 1001px) {
        display: none!important;
    }
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
    background-color: #0367A6;
    color: #fff;
    opacity: 1;
}
.container{
    @media screen and (max-width: 1000px){
        max-width: 100%!important;
    }
}
@media screen and (max-width: 1000px){
    .main-review-form{
        h2{
            font-size: 60px!important;
        }
        h5, label{
            font-size: 40px;
        }
        input[type='text']{
            font-size: 40px;
        }
    }
}
.exit{
    fill: #fff;
    position: absolute;
    right: 10px;
    max-width: 60px;
    margin-top: 20px;
    stroke: #fff;
    margin-right: 30px;
    *{
        fill: #fff;
    }
}
.main-review-form-container{
    min-height: 2000px;
}
.photo-form-group{
    @media screen and (min-width: 1001px){
        height: 100px;
    }

    @media screen and (max-width: 1000px){
        height: 160px;
    }
}
