
        <h1>Связь с нами</h1>
        <p>Если хотите связаться с нами, можете написать нам на почту <a href="mailto:support@becareful.online">support@becareful.online</a></p>
        <p>Наши операторы ответят вам в ближайшее время</p>
        <style>
            h1{
                margin-top: 100px;
                text-align: center;
            }
            p{
                text-align: center;
            }
            .container{
                max-width: 900px;
            }
        </style>
