
        <h1>Зарабатывайте вместе с нами</h1>
        <p>Пишите отзывы о сайтах. Мы разместим рядом с ними свою рекламу и вы получите 20% от нашего дохода с рекламы.</p>
        <p>Если же владелец сайта, который вы добавили на нашу площадку купит платный аккаунт, мы так же выплатим вам 20% от дохода</p>
        <p>Начать очень просто. Достаточно зарегистрироваться и добавить новый сайт. Мы начнем начислять вам баллы сразу же, как только на вашу страницу пойдет траффик и появится доход</p>
        <div class="row d-flex justify-content-center"><input type="button" class="btn-primary" onclick="window.location='/new'" value="Начать"></div>
        <style>
            h1{
                margin-top: 100px;
                text-align: center;
            }
            p{
                text-align: justify;
            }
            .container{
                max-width: 900px;
            }
        </style>
